name: Node.js Benchmark

on: [push]

env:
    CI: true
    FORCE_COLOR: 2

jobs:
    bench:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6.0.0
              with:
                  node-version: 16
                  cache: npm
            - run: npm ci
            - run: npm test
            - name: Create commit
              uses: stefanzweifel/git-auto-commit-action@v7.0.0
              with:
                  commit_message: 'Update benchmark results'
                  branch: master
                  file_pattern: stats.txt
                  disable_globbing: true
